.users_bg{
    background-image: url("../images/ai_background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.user_dt_bg{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.login_bg{
    background-image: url("../images/machinelearning.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.login_form{
    margin: 100px auto;
}

.container_2{
    margin-top: 50px;
}

div{
    margin: 15px auto;
}

.my_container {
    margin: 60px auto;
    padding: 30px;
    background-color: gainsboro;
    border-radius: 10px;
    opacity: 0.9;
}