.login_form{
    margin: 100px auto;
}

.container_2{
    margin-top: 50px;
}

div{
    margin: 15px auto;
}

.my_container {
    margin: 100px auto;
    padding: 30px;
    background-color: gainsboro;
    border-radius: 10px;
}